@model EstateAgents.WebPortal.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>
        <i class="fa fa-envelope text-success hidden-xs"></i>
        @ViewBag.Title
    </h1>
    <p>Need to talk to us? You can call us on <strong>07811971637</strong> and a team member will be happy to help. Alternatively complete the form below and one of our trained members of staff will be in touch.</p>
</div>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ContactEnquiry", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
           
        <div class="well">
            <h3>
                <i class="fa fa-paper-plane-o"></i>
                Enquiry
            </h3>
            <br />

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Forename, new { @class = "col-sm-3 col-lg-2 control-label" })
                <div class="col-md-10" style="padding:0;">
                    @Html.TextBoxFor(m => m.Forename, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send Enquiry" />
            </div>
        </div>
        }
    </div>
    <div class="col-md-6">
        <div class="well">
            <h3>
                <i class="fa fa-comments-o"></i>
                Chat
            </h3>

            <br />
        </div>
    </div>
</div>


<div class="row">
    <div class="form-group">
        <div class="col-sm-9 col-md-12 col-lg-12 ">
            <div id="map"></div>
        </div>
    </div>
</div>

<script>

    function initMap() {

        var uluru = { lat: 53.400002, lng: -2.983333 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });

        var contentString = '<div style="margin:0; padding:0">' +
            '<div style="width:100%; max-width: 300px; height:auto; margin:0; padding:0">' +
            '<h3 style="margin:0; padding:0">LJ Properties</h3>' +
            '<p>Head Office<br/ >' +
            'Liverpool<br />Merseyside<br />United Kingdom<br />' +
            '07811971637<br />' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'LJ Properties'
        });

        infowindow.open(map, marker);

    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAt_08hJ_QmWieRRhexmD-Pd56VrVi1aA&callback=initMap">
</script>