@model EstateAgents.WebPortal.Models.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" href="/articles" style="margin-bottom:10px;">
    @if (User.Identity.IsAuthenticated)
    {
        <h1><i Class="fa fa-smile-o text-success hidden-xs"></i> Hi @Model.ClientDetails.Forename</h1>
        <p> Welcome to your LJ Properties <b class="text-success">Dashboard</b> </p>
    }
    else
    {
        <div id="register-content">

            <h1>
                <i class="fa fa-sign-in text-success hidden-xs"></i>
                Register today
            </h1>

            <div class="row">

                <div class="col-sm-9 col-lg-10">
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <p class="col-sm-12 hidden-xs">
                            Already a member? <a href="/account/login">Click here</a>
                        </p>
                    }
                </div>

                <div class="col-sm-3 col-lg-2">
                    <a class="btn btn-success btn-block" href="/account/register">Register</a>
                </div>

            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-success"><b>Find your dream home</b></h3>
    </div>
    <hr />

</div>

@if (User.Identity.IsAuthenticated)
{
    <hr />

    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4 text-center">
            <a href="/Property/PropertyShowroom" class="service-icon">
                <i class="fa fa-home" title="Showroom"></i>
                <h3>Showroom</h3>
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Property/PropertySearch" class="service-icon">
                <i class="fa fa-search" title="Search"></i>
                <h3>Property Search</h3>
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Property/PropertySaved" class="service-icon">
                <i class="fa fa-heart" title="Saved"></i>
                <h3>Saved Properties</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="/Messages/Messages" class="service-icon">
                <i class="fa fa-envelope" title="Messages"></i>
                <h3>Messages</h3>
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/Home/Contact" class="service-icon">
                <i class="fa fa-phone" title="Contact"></i>
                <h3>Contact</h3>
            </a>
        </div>
    </div>

    
}


<hr />

<div class="row row-eq-height">

    @foreach (var item in Model.Properties)
    {
        <div class="col-sm-4 ">
            <a class="list-group-item" href="/Property/PropertyDetails/@item.Id" style="height: 100%">
                <img class="img-responsive" src="https://pbprodimages.azureedge.net/images/large/c292d1fb-2b4b-4004-9a88-fa6ff0c3d0c0.JPG">
                @{
                    int price = (int)Math.Round(item.PropertyPrice);
                    string PriceFinal = String.Format("{0:C0}", price);
                }
                <h4 class="text-success" style="text-align:right;"><b>@PriceFinal</b></h4>
                <p>@item.AddressLine1</p>
                <p>@item.AddressLine2</p>
                <p>@item.AddressLine3</p>
                <p>@item.AddressLine4</p>
                <p>@item.AddressLine5</p>
                <p>@item.Postcode</p>
            </a>
        </div>
    }

</div>

<br />

<a href="/Property/PropertyShowroom" Class="btn btn-success">Property Showroom</a>

