@using EstateAgents.CMS.Models
@model LoginViewModel
@{

}
<div class="jumbotron hidden-xs">
    <h1><i class="fa fa-lock text-success"></i> Login</h1>
    <p class="lead">Please enter your user name and password below.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>
                <i class="fa fa-sign-in"></i>
                Sign In
            </h3>

            <br />

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 col-lg-2 control-label" })
                    <div class="col-sm-9 col-lg-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email address " })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 col-lg-2 control-label" })
                    <div class="col-sm-9 col-lg-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-unlock" aria-hidden="true"></i>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password " })

                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10">
                        <div class="checkbox" style="margin-left:30px;">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
                        <button class="btn btn-success btn-block" type="submit" name="submit" value="Submit">Log In</button>
                    </div>
                </div>

                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}