@model EstateAgents.WebPortal.Models.ChangePasswordViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        <a href="/Settings/YourDetails">Home</a>
    </li>
    <li>
        Change Password
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-lock text-success hidden-xs"></i>
        Change Password
    </h1>
    <p>Please use the form below to change your password.</p>
</div>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4 class="sample-header">Change Password</h4>
    <div class="row sample-content" style="margin-left:0;margin-right:0;margin-bottom:20px;">

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Enter your current password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter your new password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your new password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-block btn-success" value="Submit" />
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}