@model EstateAgents.IMS.Models.CustomerManagement.CustomerMessagesViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        Customer Management
    </li>
    <li>
        <a href="/CustomerManagement/ManageCustomers">Manage Customers</a>
    </li>
    <li>
        Customer Messages
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-envelope text-success hidden-xs"></i>
        Customer Messages
    </h1>
    <p>View customer messages</p>
</div>

<ul class="breadcrumb hidden-xs">
    <li>
        <b style="color:#4797A8;">Client:</b> @Model.Client.Title @Model.Client.Forename @Model.Client.Surname
    </li>
</ul>

<table id="messages" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Date</th>
            <th>Time</th>
            <th>Message</th>
            <th>Reply</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            var client = EstateAgents.Library.DAL.EstateAgentsRepository.GetClientByClientId(item.ClientId);
            var sender = "";
            if (item.StaffResponse == false)
            {
                sender = client.Title + " " + client.Forename + " " + client.Surname;
            }
            else
            {
                sender = "LJ Properties";
            }
            <tr style="background:white;color:black;">
                <td style="background:white;color:black;">@sender</td>
                <td>@Convert.ToDateTime(item.MessageDate).ToShortDateString()</td>
                <td>@item.MessageTime</td>
                <td>@item.MessageBody</td>
                @if (item.StaffProcessed == null && item.StaffResponse == false)
                {
                    <td><a class="btn btn-success btn-block" style="text-decoration:none;" href="/CustomerManagement/MessageCustomer/@item.ClientId/@item.Id">Reply</a></td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>

@section FooterScripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#messages').DataTable();
        });
    </script>
}
