@model EstateAgents.WebPortal.Models.Properties.PropertyBookViewingViewModel

<ul class="breadcrumb hidden-xs">
    <li>
        <a href="/Home/Index">Home</a>
    </li>
    <li>
        <a href="/Property/PropertyShowroom">Property Showroom</a>
    </li>
    <li>
        <a href="/Property/PropertyDetails/@Model.PropertyDetails.Id">Property Details</a>
    </li>
    <li>
        Book a Viewing
    </li>
</ul>

<div class="jumbotron">
    <h1>
        <i class="fa fa-envelope text-success hidden-xs"></i>
        Book a Viewing
    </h1>
    <p>@Model.PropertyDetails.AddressLine1, @Model.PropertyDetails.AddressLine2, @Model.PropertyDetails.AddressLine3, @Model.PropertyDetails.AddressLine4, @Model.PropertyDetails.AddressLine5, @Model.PropertyDetails.Postcode</p>
</div>


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("PropertyBookViewingRequest", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4 class="sample-header">Book Viewing</h4>
            <div class="row sample-content" style="margin-left:0;margin-right:0;margin-bottom:20px;">
                @Html.HiddenFor(m => m.PropertyDetails.Id)
                <div class="form-group">
                    @Html.LabelFor(m => m.ViewingDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ViewingDate, new { @class = "form-control datepicker", type = "date" })
                        @Html.ValidationMessageFor(m => m.ViewingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ViewingTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ViewingTime, new { @class = "form-control", placeholder = "Enter a viewing time" })
                        @Html.ValidationMessageFor(m => m.ViewingTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-block btn-success" value="Submit" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>